{% extends 'base.html' %}
<!-- To check the group user -->
{% load event_extras %}

{% block title %}Workplan | Activities{% endblock title %}

{% block content %}
    <table>
        <tr>
            <th>user</th>
            <th>activity</th>
            <th>start date</th>
            <th>stop date</th>
            <th>confirmed</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        {% for event in event_list %}
            <tr>
                <td>{{ event.user_id }}</td>
                <td>{{ event.activity_id|title }}</td>
                <td>{{ event.date_start }}</td>
                <td>{{ event.date_stop }}</td>
                <td>{{ event.confirmed }}</td>
                <td>{% if event.user_id == request.user or user|is_group:"Administrator" or user.is_superuser %}
                        <a href="{% url 'edit_event' event.pk %}">edit</a>
                    {% else %}
                        edit
                    {% endif %}
                </td>
                <td>{% if event.activity_id|lower != "pikett" and event.activity_id|lower != "dispatcher" and event.user_id == request.user or user|is_group:"Administrator" or user.is_superuser %}
                        <a href="{% url 'del_event' event.pk %}">delete</a>
                    {% else %}
                        delete
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

    </table>


{% endblock content %}