{% extends 'base.html' %}

{% block title %}Workplan | Holidays{% endblock title %}

{% block content %}

    <h1>Holidays {{ year }} {{ region }}</h1>

    {% if year == next_year %}
        <a href="{% url 'holidays' year=current_year region=region %}">Holidays {{ current_year }}</a>
    {% else %}
        <a href="{% url 'holidays' year=next_year region=region %}">Holidays {{ next_year }}</a>
    {% endif %}

    {% if region == 'BE' %}
        <a href="{% url 'holidays' year=year region='NE' %}">NE</a>
        <a href="{% url 'holidays' year=year region='FR' %}">FR</a>
        <a href="{% url 'holidays' year=year region='VD' %}">VD</a>
        <a href="{% url 'holidays' year=year region='GE' %}">GE</a>
    {% elif region == 'NE' %}
        <a href="{% url 'holidays' year=year region='BE' %}">BE</a>
        <a href="{% url 'holidays' year=year region='FR' %}">FR</a>
        <a href="{% url 'holidays' year=year region='VD' %}">VD</a>
        <a href="{% url 'holidays' year=year region='GE' %}">GE</a>
    {% elif region == 'FR' %}
        <a href="{% url 'holidays' year=year region='BE' %}">BE</a>
        <a href="{% url 'holidays' year=year region='NE' %}">NE</a>
        <a href="{% url 'holidays' year=year region='VD' %}">VD</a>
        <a href="{% url 'holidays' year=year region='GE' %}">GE</a>
    {% elif region == 'VD' %}
        <a href="{% url 'holidays' year=year region='BE' %}">BE</a>
        <a href="{% url 'holidays' year=year region='NE' %}">NE</a>
        <a href="{% url 'holidays' year=year region='FR' %}">FR</a>
        <a href="{% url 'holidays' year=year region='GE' %}">GE</a>
    {% else %}
        <a href="{% url 'holidays' year=year region='BE' %}">BE</a>
        <a href="{% url 'holidays' year=year region='NE' %}">NE</a>
        <a href="{% url 'holidays' year=year region='FR' %}">FR</a>
        <a href="{% url 'holidays' year=year region='VD' %}">VD</a>
    {% endif %}


    <table>
        {% for date, name in holidays.items %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ date }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}
