{% now "Y" as current_year %}
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'holidays' year=current_year region='BE' %}">Holidays</a>
<a href="https://www.schulferien.org/schweiz/ferien/{{ current_year }}/" target="_blank">Vacation {{ current_year }}</a>
{% if user.is_authenticated %}
    <a href="{% url 'workplan_index' %}">Activities</a>
    <a href="{% url 'new_activity' %}">New activity</a>
    <a href="{% url 'password_change' %}">Password change</a>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'accounts:signup' %}">Sign up</a>
    <a href="{% url 'login' %}">Login</a>
{% endif %}